* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  outline: none;
  /* font-family: "Open Sans", Helvetica, sans-serif; */
}

@font-face {
  font-family: "Nunito Bold";
  src: url("./fonts/Nunito-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito Regular";
  src: url("./fonts/Nunito-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito Light";
  src: url("./fonts/Nunito-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Great Vibes";
  src: url("./fonts/GreatVibes-Regular.ttf") format("truetype");
}

/* the image gallery */
.image-gallery {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* to hide the images by default */
.slide {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Add trasparent background on hover */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption*/
.caption {
  color: #f2f2f2;
  font-size: 30px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}


/* header */
header > a {
  float: right;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 50px;
  line-height: 30px;
  color: #707070;
  height: 50px;
  padding-right: 60px;
  padding-top: 50px;
}

.menu-bar {
  width: 24px;
  height: 3px;
  background-color: #f4821e;
  margin-top: 5px;
}

header {
  height: 200px;
  background-color: white;
  padding: 30px;
}

#hotel-name {
  position: relative;
  padding-left: 30px;
  top: 5px;
}

#octavian {
  position: absolute;
  font-family: "Great Vibes";
  font-size: 100px;
  color: #f4821e;
}

#hotels-tag {
  position: absolute;
  top: 110px;
  font-size: 50px;
  font-family: "Nunito Sans";
  line-height: 20px;
  left: 105px;
  color: #06a7df;
}

header > a:hover {
  color: #06a7df;
}

/* room-section-showcase */
.room-section {
  text-transform: uppercase;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 300px;
  font-family: "Nunito Sans", sans-serif;
}
.room-section-top {
  width: 100%;
  margin-top: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.room-tag {
  position: relative;
  color: #06a7df;
  font-size: 70px;
  font-weight: 100;
}
.room-tag i {
  font-size: 200px;
  margin-right: 50px;
}
.room-tag p {
  position: absolute;
  top: 55px;
  font-weight: 100;
  display: inline-block;
}
.explore-btn {
  padding: 40px 180px;
  font-size: 70px;
  text-transform: uppercase;
  font-family: "Nunito Sans", sans-serif;
  border-radius: 150px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #06a7df;
  color: #ffffff;
}
.explore-btn:hover {
  background-color: #b5d7e2;
}
.room-section-showcase {
  margin-top: 300px;
  width: 100%;
}
/* main showcase area */
.showcase img {
  width: 1200px;
  height: 1200px;
  border-radius: 50px;
  transition: transform 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
=======

/*form in the GALLERY begins*/
.form-holder {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 15px;
  width: 80%;
  margin: 0 10%;
  border-radius:30px 30px 30px 30px;  
  margin-bottom: 30px;
}
.form-holder a{
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;           
  }
.curved{
padding: 15px;
width: 25%;
background-color: white;
}
.box{
padding: 15px;
width: 25%;
margin: 0 1px;
background-color: white;
}
.box a{
  margin-left: 50px;
}
.fa-caret-down, .fa-caret-right {
  margin-left: 40px;
}
.fa-calendar-alt{
  margin-left: 40px;
}
.left {
  border-radius:30px 0px 0px 30px;
  border-color: white;
}
.right{
  border-radius:0px 30px 30px 0px;
  background-color: #F4821E;
}
.right a{
  margin-left: 50px;
}
.dropdown{
  border-color: white; 
}
form p{
  color: black;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999;
}
.dropdown-content a:hover {
  background-color: #F4821E;
}

.box:hover{
    background-color:#F4821E ;
}

.right:hover{
      background-color:#F4821E;
}

.left:hover{
  background-color:#F4821E;
}
 /* Links inside the dropdown */
 .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

.dropdown:hover .dropdown-content {
  display: block;
} 
/*FORM IN THE GALLERY*/

/* ROOMS CARD SECTION*/
.rooms-card-holder {
  width: 95%;
  max-width: 1500px;
  margin: 0 auto;

}

/* Room Card */
.rooms-card-holder img {
  width: 100%;
  border-radius: 61px;
  height: 100%;
}

.room-card {
  display: grid;
  grid-template-columns: 35% 60%;
  column-gap: 5%;
  align-items: center;
  width: 100%;

  font-size: 70px;
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  transition: transform 0.2s ease-out;

  height: 350px;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.room-card h2 {
  padding-bottom: 1rem;
  font-weight: 900;
  font-family: "Nunito Bold";
  text-transform: uppercase;
}

.card-image {
  height: 100%;
  padding-right: 1rem;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-content div {
  width: 50%;
}

.card-info h2 {
  font-size: 1.563rem;
  line-height: 2.125rem;
  color: #f4821e;
}

.card-info p {
  font-size: 1.375rem;
  line-height: 1.875rem;
  color: #707070;
  font-family: "Nunito Regular"
}

.card-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card-price h2 {
  font-size: 1.875rem;
  line-height: 2.563rem;
  color: #707070;
}

.card-price button {
  border: none;
  color: #ffffff;
  background: #06a7df;
  width: 184px;
  height: 57px;
  font-size: 1.375rem;
  line-height: 1.875;
  transition: 0.4s;
  cursor: pointer;
  font-family: "Nunito Light";

}

.card-price button:hover {
  opacity: 0.9;
}
.showcase-container p {
  margin-top: 50px;
}

/* end */

/*form in the GALLERY begins*/
.form-holder {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 15px;
  width: 80%;
  margin: 0 10%;
  border-radius: 30px 30px 30px 30px;
}
.curved {
  padding: 15px;
  width: 25%;
  background-color: white;
}
.box {
  padding: 15px;
  width: 25%;
  margin: 0 1px;
  background-color: white;
}
.left {
  border-radius: 30px 0px 0px 30px;
  border-color: white;
}
.right {
  border-radius: 0px 30px 30px 0px;
  background-color: #f4821e;
}
.dropdown {
  border-color: white;
}
form p {
  color: black;
}
/*FORM IN THE GALLERY*/


/*Css for the form*/
.email {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
  height: auto !important;
}
.the-form {
  width: 460px;
  padding: 1em 2em;
  background: rgb(243, 243, 243);
  border-radius: 4px;
  border: 1px solid rgb(243, 243, 243);
}
.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
  height: auto !important;
}
.first-name {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 2em;
  background: rgb(243, 243, 243);
  border-radius: 4px;
  border: 1px solid rgb(243, 243, 243);
  color: black;
  margin-right: 20px;
}
.last-name {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 2em;
  background: rgb(243, 243, 243);
  border-radius: 4px;
  border: 1px solid rgb(243, 243, 243);
  color: black;
  padding-right: 20px;
}
.subject {
  width: 460px;
  padding: 1em 2em;
  background: rgb(243, 243, 243);
  border: 1px solid rgb(243, 243, 243);
  height: 200px;
}
.submit {
  display: flex;
  padding: 1em 2em;
  background-color: rgba(255, 166, 0, 0.897);
  border: 1px solid rgba(255, 166, 0, 0.897);
  color: white;
  flex-wrap: wrap;
  margin-left: 800px;
  border-radius: 4px;
  margin-top: 20px;
}
/*  FORM ENDS HERE*/

/* ROOMS CARD SECTION*/
.rooms-card-holder {
  width: 95%;
  max-width: 1500px;
  margin: 0 auto;
}

/* Room Card */
.rooms-card-holder img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 61px;
}

.room-card {
  display: flex;
  align-items: center;
  width: 100%;
  height: 350px;
  padding: 0.5rem;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.room-card h2 {
  padding-bottom: 1rem;
  font-weight: 900;
  font-family: "Nunito Bold";
  text-transform: uppercase;
}

.card-image {
  height: 100%;
  padding-right: 1rem;
}

.card-content {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-content div {
  width: 50%;
}

.card-info h2 {
  font-size: 1.563rem;
  line-height: 2.125rem;
  color: #f4821e;
}

.card-info p {
  font-size: 1.375rem;
  line-height: 1.875rem;
  color: #707070;
  font-family: "Nunito Regular";
}

.card-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card-price h2 {
  font-size: 1.875rem;
  line-height: 2.563rem;
  color: #707070;
}

.card-price button {
  border: none;
  color: #ffffff;
  background: #06a7df;
  width: 184px;
  height: 57px;
  font-size: 1.375rem;
  line-height: 1.875;
  transition: 0.4s;
  cursor: pointer;
  font-family: "Nunito Light";
}

.card-price button:hover {
  opacity: 0.9;
}

/* Room Card End */

/* Room Card End */

/* header */
header>a{

  float:right; 
  text-decoration:none;
  font-family:'Nunito Sans',sans-serif;
  font-size:22px;
  line-height:30px;
  color: #707070;
  height:30px;
  padding-right:60px;
  padding-top:20px;
}

.menu-bar{
    width:24px;
    height:3px;
    background-color:#F4821E;
    margin-top:5px;
}

header{
    height:70px;
    background-color:white;
    
}

#hotel-name{
    position:relative;
    padding-left:30px;
    top:5px;
}

#octavian{
    position:absolute;
    font-family:'Great Vibes';
    font-size:50px;
    color:#F4821E;
}

#hotels-tag{
    position:absolute;
    top:42px;
    font-size:15px;
    font-family: 'Nunito Sans';
    line-height:20px;
    left:105px;
    color:#06A7DF;

}

header>a:hover{
    color:#06A7DF;
}

/* header ends here */
/* Contact Us*/
.cover{
  display: flex;
  flex-direction: column;
  padding-top:100px; 
  padding-bottom: 100px;
  width: 460px;
  margin: 0 auto;
}
.name
{ display: flex;
  width: inherit;
  justify-content: space-between;
}

.email {
  margin-top: 30px;
  width: 100%;
  padding: 1em 2em;
  background:  rgb(243, 243, 243);
  border-radius: 4px;
  border: 1px solid  rgb(243, 243, 243);
  color: black;
  box-shadow: 0 0px 20px rgba(0,0,0,0.19), 0 0px 6px rgba(0,0,0,0.23);
  
}

#first-name {
  width: 45%;
  padding: 1em 2em;
  background:  rgb(243, 243, 243);
  border-radius: 4px;
  border: 1px solid  rgb(243, 243, 243);
  color: black;
  box-shadow: 0 0px 20px rgba(0,0,0,0.19), 0 0px 6px rgba(0,0,0,0.23);
 
}
#last-name {
  width: 45%;
  padding: 1em 2em;
  background:  rgb(243, 243, 243);
  border-radius: 4px;
  border: 1px solid  rgb(243, 243, 243);
  color: black;
  padding-right: 20px;
  box-shadow: 0 0px 20px rgba(0,0,0,0.19), 0 0px 6px rgba(0,0,0,0.23);
}
.subject {
  margin-top: 30px;
  width: 100%;
  padding: 1em 2em;
  background: rgb(243, 243, 243);
  border: 1px solid rgb(243, 243, 243);
  box-shadow: 0 0px 20px rgba(0,0,0,0.19), 0 0px 6px rgba(0,0,0,0.23);
}
.message {
  display: flex;
  margin-top: 30px;
  width: 100%;
  padding: 1em 2em;
  background: rgb(243, 243, 243);
  border: 1px solid rgb(243, 243, 243);
  text-align: start;
  box-shadow: 0 0px 20px rgba(0,0,0,0.19), 0 0px 6px rgba(0,0,0,0.23);
}
.send-button-area{
  width: 100%;
}
.send-button {
  padding: 1em 2em;
  background-color:rgba(255, 166, 0, 0.897);
  border: 1px solid rgba(255, 166, 0, 0.897);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  width: 120px;
  margin-top: 30px;
  cursor: pointer;
  float: right;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
}
/* Contact Us ends*/
  /*Footer design implementation by @thetabyte begins here*/
  footer{
    background-color: #06A7DF;
    padding: 50px 0px;
    font-family: "Nunito Light";
}
.footer-container{
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}
.left-col{
    margin: 20px 0;
}
.left-col a{
    color: black;
    margin-right: 25px;
    text-decoration: none;
    transition: .3s linear;
    font-size: 12px;
    font-family: "Nunito Light";
}
.left-col a:hover{
    color: #f2f2f2;
}
p{
    text-decoration: none;
    color: #f2f2f2;
    font-size: 13px;
    font-family: "Nunito Light";
}
.newsletter-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.txtb{
    flex: 1;
    padding: 10px 20px;
    font-size: 14px;
    color: rgb(29, 26, 26);
    font-weight: 500;
    min-width: 260px;
    font-family: "Nunito Light";
}
.btn{
    flex: 1;
    padding: 10px 20px;
    font-size: 14px;
    color: #f2f2f2;
    font-weight: 400;
    text-decoration: none;
    background-color: #F4821E;
    border: none;
    font-family: "Nunito Light";
    cursor: pointer;
    transition: opacity .3s linear;
}
.btn:hover{
    opacity: .7;
}
/*RESPONSIVENESS for footer design implementation by @thetabyte*/
@media screen and (max-width:960px){
    .footer-container{
        max-width: 600px;
    }
    .left-col{
        width: 100%;
        margin-bottom: 60px;
    }
}
@media screen and (max-width:700px){
    .footer-container{
        max-width: 400px;
        margin-bottom: 0;
    }
    .btn{        
        margin: 0;
        width: 100%;
    }
    .newsletter-form{
        width: 50%;
        margin: 20px;
        justify-content: center;
    }
    .left-col a{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width:320px){
    .footer-container{
        max-width: 300px;
        flex-wrap: wrap;
    }
    .newsletter-form{
        display: flex;
        width: 40%;
        justify-content: center;
        align-items: center;
    }
    p{
        padding: 0;
        margin: 0;
        display: block;
    }
    .btn{
        margin: 0;
        padding: auto;
        width: 50%;
    }
    .left-col a{
        display: flex;
        flex-wrap: wrap;
    }
}
/*END OF FOOTER RESPONSIVENESS and style implementation by @thetabyte*/

